@model FeedbackAPI.Web.Models.FilteredStatusRequests

@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Simulate New Request" class="btn btn-default" />
    </div>
}

<h3>Open Requests</h3>
@Html.Partial("_RequestTable", Model.Requested)

<h3>Accepted Requests</h3>
@Html.Partial("_RequestTable", Model.Accepted)

<h3>Rejected Requests</h3>
@Html.Partial("_RequestTable", Model.Rejected)
