
@{
    ViewBag.Title = "Operation invalid";
}

<h2>Sorry!</h2>

<p>That operation is no longer valid. The request has already been reviewed.</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>