body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

td:last-child {
    text-align: right;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn {
    margin: 10px 0;
    border-radius: 17px;
    padding: 6px 17px;
}

.navbar-inverse {
    background-color: #905e83;
    border: none;
}

.navbar-inverse .navbar-nav li {
    width: 132px;
    text-align: center;
}

.navbar-inverse .navbar-nav li:hover {
    background-color: #714a67;
}

.navbar-inverse .navbar-nav li a {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-left: 1px solid #714a67;
}

.navbar-inverse .navbar-nav li:last-child a {
    border-right: 1px solid #714a67;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
